ticos_gateway/venv/
ticos_gateway/for_tests.py
ticos_gateway/f_test.py
ticos_gateway/develop_tests/
ticos_gateway/logs/*
ticos_gateway/config/connected_devices.json
ticos_gateway/storage/data/
.idea/
/build/
/deb_dist/
/dist/
/.mypy_cache/
/ticos_gateway/storage/data_out/
*.gz
/logs/
/python3-ticos-gateway.deb
/python3-ticos-gateway.rpm
/ticos_gateway.egg-info/
/docker/python3-ticos-gateway.deb
/data/
/logs/
__pycache__
/ticos_gateway/config/
/venv/
